.login,
.register {
  background-color: e78200;
  border: 3px solid #403d3d;
  margin: auto;
  max-width: 400px;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.profile-left {
  background-color: e78200;
  border: 3px solid #20890d;
  margin: left;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.aboutme {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.header {
  color: black !important;
  text-align: center !important;
}

.submit-button {
  margin: auto !important;
  text-align: center !important;
  height: 40px;
  width: 50%;
  display: flex !important;
  justify-content: center !important;
  color: white !important;
  background-color: #20890d !important;
  font-size: 16px !important;
  position: relative;
  top: 25px;
}

.submit-button:hover {
  background-color: #e78200 !important;
}

.navWrapper {
  background-color: white;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

a {
  background-color: white;
  color: #87ceeb;
  padding: 5px;
  border-radius: 15%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a:hover {
  background-color: e78200;
  border: solid 2px black;
  color: white;
  padding: 5px;
  border-radius: 15%;
}

li {
  padding: 3px;
  list-style-type: none;
  display: inline;
}

.navTitle {
  color: yellow;
  font-size: 120px;
  -webkit-text-stroke-color: cf1717;
  -webkit-text-stroke-width: 3px;
  padding: 0px !important;
  margin: 0px !important;
}

.navBarLinks {
  display: flex;
  position: relative;
  top: -150px;
  margin-left: auto;
  margin-right: auto;
}

#loginLink,
#editLink,
#homeLink,
#registerLink,
#signupLink,
#logoutLink {
  color: rgb(32, 137, 13);
  font-family: "Fredoka One", cursive;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 30px;
  width: 100px;
}

.navWrapper #editLink {
  font-size: 10pt;
  position: relative;
  top: 2px;
  right: 5px;
}

#loginLink:hover,
#editLink:hover,
#homeLink:hover,
#registerLink:hover,
#signupLink:hover {
  color: white !important;
  background-color: #20890d !important;
  border: solid 1px transparent !important;
  text-decoration: none;
}

#kwitterLogo {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
  right: 20px;
}

.message {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px !important;
}

.messages-list {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2%;
}

.link,
.link:hover {
  font-family: "Fredoka One", cursive;
  color: #20890d;
  text-decoration: none;
  background-color: transparent !important;
  padding-top: 0;
  padding-bottom: 0;
  border: solid 1px transparent !important;
}

.line {
  background-color: transparent !important;
  border: solid 1px transparent !important;
}

.userHomepage {
  overflow: hidden;
  background-color: white;
}

.background {
  background-color: white;
  padding-bottom: 20px;
}

.userHomepageInfo {
  background-color: e78200;
  padding: 10px;
}

.userCard {
  margin-left: 75px;
  float: left;
}

.userFeed {
  margin-left: 7%;
  float: left;
  width: 500px;
}

.messages-list {
  height: 450px;
}

.delete-button {
  width: 10px;
}

@media only screen and (max-width: 500px) {
  body {
    width: 100%;
  }

  .login,
  .register {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .submit-button {
    width: 80%;
  }

  .navTitle {
    font-size: 60px;
    -webkit-text-stroke-color: cf1717;
    -webkit-text-stroke-width: 2px;
    padding: 20px 10px 50px 0 !important;
  }

  .navBarLinks {
    padding-left: 0px;
    padding-right: 0px;
    margin: 7px 25px 7px 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: auto;
  }

  .userHomepage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  .userCard {
    margin: auto;
    height: 50px;
    width: 50px;
  }

  .userFeed {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ui.card {
    width: 40%;
  }

  .ui.image {
    width: 40%;
  }
}

.userId {
  color: #20890d;
}

.messageId {
  color: e78200;
}

.notAMember {
  font-family: "Fredoka One", cursive;
}

.signupMessage {
  font-family: "Fredoka One", cursive;
}

#messageSubmitButton {
  background-color: #20890d;
  color: white;
  position: relative;
  left: 200px;
}

#leafImage {
  width: 40%;
}

.messages-list h3 {
  text-align: center;
}

.event .content {
  font-family: Arial, Helvetica, sans-serif;
}
