body {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  background-color: #FFFFFF;
}

code {
 font-family: 'Pacifico', cursive;
}